<ion-view title="Detalle Album" id="page10">
    <ion-content padding="true" class="has-header">
        <div id="detalleAlbum-markdown9" style="color:#000000;">
            <p>Seleccioná las que quieras para descargar o imprimir</p>
        </div>
        <ion-item ng-repeat="item in fotos" ng-click="seleccionar(item.key)" >
         <div id="detalleColaborador-markdown6" style="color:#000000;">
            <p>{{item.key.titulo}}</p>
        </div>
        
        <div>
            <img ng-src="{{pathForImage(item.key)}}"width="100%" height="auto" style="display: block; margin-left: auto; margin-right: auto;">
        </div>
        <div id="detalleAlbum-markdown10" style="color:#000000;">
            <p>
                <strong>Tamaño:</strong>{{item.key.tamanio}} <br/>
                <strong>Fecha:</strong>{{item.key.fecha}}</p>
        </div>
       </ion-item >
       <h2 ng-if="fotos.length < 1 || !fotos"><i>No se han seleccionado fotos para este album todavia</i></h2>
        
    </ion-content>
</ion-view>