<ion-view title="Detalle Colaborador" id="page9">
    <ion-content padding="true" class="has-header">
        <div class="list card" id="detalleColaborador-card21">
            <ion-item class="item-avatar" id="detalleColaborador-list-item10">
                <img src="{{fotografo.fotoPerfil}} ">
                <h2>{{fotografo.nombre}} </h2>
            </ion-item>
        </div>
        <ion-item ng-repeat="item in fotos" ng-click="seleccionar(item.doc)" >
         <div id="detalleColaborador-markdown6" style="color:#000000;">
            <p>{{item.doc.titulo}}</p>
        </div>
        
        <div>
            <img ng-src="{{pathForImage(item.doc)}}"width="100%" height="auto" style="display: block; margin-left: auto; margin-right: auto;">
        </div>
       </ion-item >
       <h2 ng-if="fotos.length < 1"><i>Este fotógrafo no ha subido fotos todavía</i></h2>
       
    </ion-content>
</ion-view>