<ion-view title="Evento Creador" id="page8">
    <ion-content padding="true" class="has-header">
        <div id="eventoCreador-markdown4" style="color:#000000;">
            <p>Todas estas personas colaboraron con tu album. ¡Toca cada uno para ver qué fotos subieron!</p>
        </div>
        <ion-list id="eventoCreador-list3">
            <ion-item class="item-avatar" ng-repeat="item in evento.fotografos" ng-click="seleccionar(item)" >
                <img src="{{item.fotoPerfil}}">
                <h2>{{item.nombre}}"</h2>
            </ion-item>
            
        </ion-list>
    </ion-content>
</ion-view>