<ion-view title="Evento Creador" id="page8">
    <ion-content padding="true" class="has-header">
        <div id="eventoCreador-markdown4" style="color:#000000;">
            <p>Todas estas personas colaboraron con tu album. ¡Toca cada uno para ver qué fotos subieron!</p>
        </div>
        <ion-list id="eventoCreador-list3">
            <ion-item class="item-avatar" id="eventoCreador-list-item7" ui-sref="tabsController.detalleColaborador">
                <img src="img/rQlWzFdhTomVOAjHtjPj_sheencigar.jpg">
                <h2>Carlos Estevez</h2>
            </ion-item>
            <ion-item class="item-avatar" id="eventoCreador-list-item8" ui-sref="tabsController.detalleColaborador">
                <img src="img/Y9BF4bmYRDKUkluK2PKW_fort-1-e1385400469164.jpg">
                <h2>Ricardo Fort</h2>
            </ion-item>
            <ion-item class="item-avatar" id="eventoCreador-list-item9" ui-sref="tabsController.detalleColaborador">
                <img src="img/jC5ZULfS66ulFEw8RMBQ_tev.jpg">
                <h2>Charly Tevez</h2>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>