<ion-view title="Mis albmus" id="page4">
    <ion-content padding="true" class="has-header">
        <ion-list id="misAlbmus-list4">
            <ion-item class="item-thumbnail-left" id="misAlbmus-list-item12" ui-sref="tabsController.detalleAlbum">
                <img src="img/P7TjhdX4TlG6YeZn3KRL_casamiento.jpg">
                <h2>Que vivan los novios</h2>
            </ion-item>
            <ion-item class="item-thumbnail-left" id="misAlbmus-list-item16" ui-sref="tabsController.detalleAlbum">
                <img src="img/BOmK13qKTbGv4n9lQ7JP_fiesta_1247_980x560.jpg">
                <h2>Que viva la fiesta</h2>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>