<ion-view title="Mis eventos" id="page3">
    <ion-content padding="true" class="has-header">
        <a ui-sref="tabsController.nuevoEvento" id="misEventos-button1" class="button button-balanced  button-block icon-left ion-plus">Nuevo evento</a>
        	
            <ion-item class="item-avatar" ng-repeat="item in eventos" ng-click="seleccionar(item.doc)">
                <img src="{{item.doc.imagenPrincipal}}">
                <h2>{{item.doc.nombre}}</h2>
            </ion-item>
            
    </ion-content>
</ion-view>